body {
    padding: 0;

    width: 1360px;
    margin: 0 auto;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.about_us, .portfolio, .services, .stages_of_work {
    width: 1169px;
    margin: 0 auto;
}
.heading {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    color: #00203a;

    margin-bottom: 60px;
}
        /*HEADER*/
/*header {*/
    /*margin-bottom: 130px;*/
/*}*/
header .banner .background {
    display: grid;
    grid-template-rows: 85px 600px 85px;
    grid-template-columns: 1165px;
    justify-content: center;


}
header .banner .background .phone {
    justify-self: end;
    align-self: center;

    color: #252525;
}
header .banner .background .picture {
    background: url("img/image.png") no-repeat center;
}

header .banner .interior_design {
    position: absolute;
    left: 0;
    top: 0;

    width: 50%;
    height: 770px;

    padding-left: 265px;
    padding-top: 195px;

    box-sizing: border-box;

    background-color: rgba(17, 37, 55, 0.95);
}
header .banner .interior_design .heading {
    font-size: 60px;
    width: 365px;

    color: #FFFFFF;
}
header .banner .interior_design p {
    width: 365px;

    margin: 30px 0;

    color: #FFFFFF;
}
header .banner .interior_design button {
    /*height: 60px;*/

    padding: 18px 30px;

    text-transform: uppercase;
    border: none;

    color: #FFFFFF;
    background-color: #f8a25a;
}
header .interior_design button img {
    display: inline-block;

    padding-left: 10px;
}
    /*MAIN*/

            /*about_us*/
.about_us {
    display: grid;
    grid-template-rows:    1fr ;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    justify-items: start;

    max-height: 730px;
    min-height: 475px;

    margin: 155px auto;

    text-align: left;
}
.block00 {
    width: 270px;
}
.about_us .number {
    font-size: 85px;

    font-weight: 700;
    color: rgba(248, 162, 90, 0.3);
    font-family: 'Playfair Display', serif;
}
.about_us .title {
    font-weight: 500;
    font-size: 22px;
    padding-bottom: 25px;
}
.about_us .description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
    color: #838383;
}
.block02, .block04 {
    align-self: end;
}

            /*portfolio*/
.portfolio {
    margin-bottom: 100px;
}
.portfolio .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.portfolio .menu li {
    display: inline-block;


}
.portfolio .menu a {
    display: inline-block;

    margin-right: 55px;
    margin-bottom: 40px;

    padding-top: 5px;
    padding-bottom: 8px;

    text-decoration: none;

    font-weight: 300;
    color: #807f7f;
}
.portfolio .menu a:hover {
    color: #00203a;
    border-bottom: 2px solid #00203a;
}

            /*services*/


.services {
    margin-bottom: 100px;
}
.services .items {
    display: grid;
    grid-template-rows:    repeat(6, 70px) ;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}


.services .items .points {
    /*width: 190px;*/

    color: #807f7f;
    font-weight: 300;
}
.services .points:hover {
    padding-left: 15px;

    font-weight: 700;
    color: #00203a;
}

.services .designer-visit {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}
.services .picture{
    background: url("img/servises_picture.png") no-repeat top;
    grid-row: 1 / 5;
    grid-column: 2 / 5;
}
.services .text {
    grid-row: 5 / 7;
    grid-column: 2 / 4;
}
.services .text .title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
}
.services .text .description {
    line-height: 1.6em;
    color: #807f7f;
}
.services .number-of-projects {
    justify-self: end;
}
.services .button {
    justify-self: end;
}
.services button {
    justify-self: end;

    text-decoration: none;
    background-color: transparent;

    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

    padding: 15px 40px;

    border: 2px solid black;
}
            /*stages_of_work*/
.stages_of_work {
    margin-top: 160px;
    margin-bottom: 175px;
}

.stages_of_work .items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 55px;
    grid-column-gap: 40px;
}
.stages_of_work .items .block {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 55px 1fr;

}
.stages_of_work .serial-number {
    background: url("img/1.png") no-repeat top;
    margin: -20px;
}
.stages_of_work .serial-number .number2 {
    background: url("img/2.png") no-repeat top;
}
.stages_of_work .serial-number .number3 {
    background: url("img/3.png") no-repeat top;
}
.stages_of_work .serial-number .number4 {
    background: url("img/4.png") no-repeat top;
}
.stages_of_work .serial-number .number5 {
    background: url("img/5.png") no-repeat top;
}
.stages_of_work .serial-number .number6 {
    background: url("img/6.png") no-repeat top;
}
.stages_of_work .title{
    font-size: 22px;
    font-weight: 700;
}
.stages_of_work .description {
    font-size: 16px;
    color: #807f7f;
    text-align: left;
}
.stages_of_work hr {
    display: block;
    width: 40px;

    margin-left: 0;

    background-color: black;
}
            /*contact_form*/
.contact_form .blocks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 680px;
    justify-items: stretch;
}
.contact_form .blocks .form {
    padding: 60px 100px;

    background-color: #182c3d;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 100;
 }
.contact_form .heading {
    margin-bottom: 25px;

    color: #FFFFFF;
}
.contact_form .form p {
    font-weight: 100;
    opacity: 0.7;
}
.contact_form form  input {
    display: block;
    width: 100%;

    padding: 15px 0;
    margin: 10px 0;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    opacity: 0.7;
}
.contact_form form .button {
    color: #FFFFFF;
    opacity: 1;

    padding: 15px 0;
    margin-top: 45px;

    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
}
.contact_form .blocks .picture {
    background: url("img/kitchen2.png") no-repeat center;
}
            /*clients_feedback*/

        /*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px;
    grid-column-gap: 250px;
    align-items: center;
    justify-items: center;

    padding: 0 80px;

    background-color: #182c3d;
}
footer div {
    /*background-color: lightseagreen;*/
    color: #ffc487;
    font-size: 16px;
}
footer .social_media {
    display: grid;
    grid-template-columns: repeat(3, 25px);
    grid-template-rows: 2fr 1fr;
    grid-gap: 30px;
    justify-items: center;
}
footer .social_media .logo {
    grid-column: 1 / 4;
}